@charset "UTF-8";

#welcome {
	float: right;
	padding: 0px 10px;
}

#ENTER, #REGISTER {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.form_window {
	width: 300px;
	text-align: center;
	padding: 15px;
	border: 3px solid #0000cc;
	border-radius: 10px;
	color: #0000cc;
	margin: auto;
}

#ENTER:target, #REGISTER:target {
	display: block;
}

.log_button {
	margin: 5px;
	text-decoration: none;
	float: right;
	border: 2px solid #0000cc;
	border-radius: 10px;
	padding: 10px;
	color: #0000cc;
}